# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA-specific files
*.iml
.idea/
out/

# Ignore build artifacts
*.jar
*.war
*.nar
*.ear

# Ignore archives
*.zip
*.tar.gz
*.rar

# OS-specific files
.DS_Store
Thumbs.db

# Java Virtual Machine crash logs
hs_err_pid*
replay_pid*

# IDE-specific exclusions
# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/
